body {
    background:linear-gradient(#a2adb3, #10364a);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
}
.card {
    font-size: 15px;
    background-color: #a84780;
    border-radius: 20px;
    padding: 0px;
    margin: 30px;
}
.card-body {
    background-color: #a84780;
    color: #ffe0e0;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: "warbler-deck", sans-serif;
    text-align: center;
}
.card-title {
    font-family: "cc-summer-fling-split", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    color: #ffe0e0;
    margin: 10px;
    padding: 15px;
}
.card-text {
    font-family: "warbler-deck", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #ffe0e0;
    font-size: 30px;
}



#result {
    font-size: 50px;
    color: #ffe0e0;
    margin: 10px;
    text-shadow: 2px 2px 4px black;
}

.generatemermaidnamebutton {
    padding: 5px;
    margin: 10px;
    background-color: #ffe0e0;
    color: #a84780;
    border: 2px solid #a84780;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    font-family: "farmhand-sans", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 40px;
    width: 100%;
}
.generatemermaidnamebutton:hover {
    background-color: #a84780;
    color: #ffe0e0;
    border: 2px solid #ffe0e0;
}