body {
    background:linear-gradient(#a2adb3, #10364a);
}
.titlefont {
font-family: "cc-summer-fling-split", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:75px;
    font-style: underline;
    color: #a84780;
    margin: 10px;
    padding: 15px;
}
.headerfont {
    font-family: "warbler-deck", sans-serif;
    font-style: normal;
<<<<<<< HEAD
    font-size: 25px;
    color: #
=======
    font-size: 20px;
    color: #353757;
>>>>>>> 9ee189cc0213e712e7f36269586612b1ced3b881
}
